.header {
    width: 100%;
    height: 65px;
    background: #F5D07E;
    display: flex;
    align-items: center;
    justify-content: center;
    & > div {
        margin: 0 15px;
    }
    .search {
        .ant-input-group-wrapper {
            width: 500px;
        }
    }
}
