.Register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 65px);
}
.Register .login-form {
  width: 500px;
}
.Register .login-form .login-form-button {
  display: block;
  width: 500px;
  margin: 0 auto;
}
.Register p {
  margin: 0;
}
